{% extends "core/base.html" %}

{% block title %}Integrations - AA Order Manager{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="mb-3">Integrations</h1>

    <div class="list-group">
      <a href="/integrations/dropbox/connect/" class="list-group-item list-group-item-action">
        Connect Dropbox
      </a>
      <a href="/integrations/dropbox/disconnect/" class="list-group-item list-group-item-action">
        Disconnect Dropbox
      </a>
    </div>
  </div>
</div>
{% endblock %}
